<div class="constainer">
    <div>
        <h4>Edit Dog</h4>
    </div>
    <form class="edit-dog-form">
        <div>
            <label></label>
            <input></input>
        </div>

        <div>
            <label></label>
            <input></input>
        </div>

        <div>
            <label></label>
            <input></input>
        </div>

        <div>
            <label></label>
            <input></input>
        </div>

        <div>
            <label></label>
            <input></input>
        </div>

        <div>
            <button type="submit" class="btn" id="update-dog">Update</button>
            <button type="submit" class="btn" id="delete-dog">Delete</button>
        </div>
    </form>
</div>
<script src="./js/edit-dog.js"></script>
<script src="./js/delete-dog.js"></script>