        <div class="container">
        <div class="card text-center" id="intro">
            <div class="card-header" style="color: transparent;">
                <p class="lead" style="margin: 0; font-size: 1.4rem;"></p>
                <p class="lead" style="margin: 0; font-size: 1.4rem;"></p>
            </div>
            <form>
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                </div>
                <button type="button" class="btn btn-dark btn-lg"><i class="fab fa-apple"></i>Signup</button>
                </form>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src ="./script.js"></script>