body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p{
  color: black;
}

.big-heading{
  font-size: 24px;
  line-height:1.3;
}

.section-heading{
  font-size:3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 7% 15%;
}
.colored-section{
background-color: #eb9514;
color:white;
}

.white-section{
background-color: white;
}

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family:'Ubuntu', sans-serif;
  font-size:2.5rem;
  font-weight:bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size:1.2rem;
}

.btn{
  margin:0 10px 0 0;
}

.create-button{
  margin:5% 3% 5% 0;
}

#title .container-fluid{
  padding:3% 15% 7%;
  text-align: left;
}

.title-img{
  width:65%;
  position:absolute;
  right:30%;
}

#features{
  position:relative;
}

.feature-title{
  font-size:1.5rem;
}

.feature-box{
  padding:5%;
}

#testimonials{
  background-color: #eb9514;
  color:white;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width:10%;
  border-radius:100%;
  margin:20px;
}

#press{
  background-color: white;
  padding-bottom:3%;
}

.press-logo{
  width:15%;
  margin:20px 20px 50px;
}

#pricing{
  padding:100px;
  text-align: center;
}

.price-text{
  font-size:3rem;
  line-height: 1.5;
}

.pricing-column{
  padding:3% 2%;
}

#footer{
  text-align: center;
  background-color: white;
}

.social-icon{
  margin: 20px 10px;
}

.badge{
  background: red;
}

.notification {
  background-color: transparent;
}


@media (max-width : 992px){

#title{
  text-align: center;
}

.title-img{
    position:static;
    transform: rotate(0);
  }
}